.char-page {
  max-width: 413px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .navigate {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 12px;
    left: 50px;
    top: 20px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
  }

  .char-img {
    margin-top: 32px;
    max-width: calc(320px);
    aspect-ratio: 1 / 1;
    padding: 0 10px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    padding: 0 10px;
  }

  h4 {
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  .char-info {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;

    p {

      display: flex;
      flex-direction: column;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      border-bottom: 1px solid gray;
      padding: 10px 40px 10px 0;

      :first-child {
        font-weight: 900;
        font-size: 16px;
      }
    }
  }
}